@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rock+Salt&display=swap");

.comp_card_container {
  width: 100vw;
  height: 100vh;
  /* height: auto; */
  background-color: #e2e3d4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* gap: 1rem; */
  /* padding: 600px 0 0 0; */
  /* padding-top: 19vh; */
}

.comp_card_main {
  width: 80vw;
  margin-top: 19vh;
  height: 88vh;
  background-color: transparent;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
}
.comp_card_headshot {
  background-color: transparent;
  display: flex;
  max-height: 85vh;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  background-size: cover;
}

#image_name_overlay {
  font-family: "Maragsa";
  color: antiquewhite;
  font-size: 2rem;
  text-decoration: underline;
}
.comp_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 4rem;
  gap: 1rem;
}

.comp_card_info > div {
  border-radius: 0.25rem;
}

.comp_card_blurb {
  background-color: transparent;
  font-size: 1rem;
}
.comp_card_measurements {
  background-color: transparent;
  line-height: 1rem;
  margin-left: 8rem;
}
.comp_card_measurements > ul {
  margin-left: 4rem;
  line-height: 200%;
}

.comp_card_blurb > p {
  font-style: italic;
}
.comp_card_contacts {
  background-color: transparent;
}
#comp_name {
  text-decoration: underline;
}
