#contact {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.contact__container {
  width: 58%;
  display: grid;
  /* grid-template-rows: 1fr auto; */
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "contacthi contacthi"
    "buttons    form";

  /* gap: 12%; */
  background-color: aquamarine;
}
.contacthi {
  grid-area: contacthi;
  display: flex;
  justify-content: center;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: darkgreen;
  grid-area: buttons;
}

.contact__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 10px solid transparent;
  transition: var(--transition);
  height: 15vh;
  width: 15vh;
}

.contact__options:hover {
  background: transparent;
  border-color: #212121;
}

.contact__options-icon {
  font-size: 1.5rem;
  margin: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  grid-area: form;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-wiodth-sm);
  }
}
